* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1 {
    font-size: 50px;
	margin-bottom: 50px;
	margin-top: 20px;
	font-family: fantasy, Helvetica Neue;
	color: #111188;
	text-align: center;
	padding-left: 50px;
	padding-right: 20px;
}

h2 {
    font-size: 30px;
	font-family: Arial;
	color: brown;
	margin-bottom: 20px;
	margin-top: 50px;
}

h3 {
    font-size: 15px;
	font-family: Sans-Serif;
	padding-left: 120px;
	font-weight: bolder;
}

h4 {
    font-size: 8px;
	font-family: Sans-Serif;
	padding-left: 120px;
	font-weight: bolder;
	color: #111188;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background-color: 00ff00;
	font-family: Arial;
}

.steps {
	width: 70%;
	float: left;
	padding-right: 100px;
	margin-bottom: 30px;
}

.main-text {
	font-size: 16px;
	text-align: justify;
}

.author {
	width: 30%;
	float: left;
	padding-right: 10px;
	padding-left: 80px;
}

.author img {
	height: 100px;
	width: 100px;
	border-radius: 35%;
	float: left;
}

.author-text {
	font-size: 15px;
	text-align: right;
	font-family: fantasy, Helvetica Neue;
	float: left;
	padding-left: 240px;
}